<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="Norbert Logiewa">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto|Amiri" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/global.css">

</head>

<body>

  <br>
  <br>

  <header>
    <h1 style="text-align: center;">
      Stories Generator
    </h1>
    <h2 style="text-align: center;">
      Generate Stories!
    </h2>
  </header>

  <br>
  <br>

  <main style="display: flex; flex-flow: column nowrap; justify-content: flex-start; align-items: center;">

    <textarea class="mx-auto" cols="80" rows="5" spellcheck="on" autocomplete="true"
      placeholder="Anne didn't plan her wedding. In fact, she had no idea it was about to take place."></textarea>

    <br>

    <button type="submit" class="btn btn-lg d-block mx-auto btn-primary">
      Create
    </button>

    <br>

    <p id="story" style="max-width: 80vw"></p>

  </main>

  <hr />

  <footer>
    <p style="text-align: center;">
      Built with Python3
    </p>
  </footer>

  <script>
    document.querySelector('.btn[type=submit]').onclick = function () {
      return fetch(`/`, {
        method: 'post',
        body: document.querySelector('textarea').value,
        headers: {
          'Content-Type': 'text/plain',
          'Accept': 'text/plain',
        }
      }).then(res => res.text()).then(txt => document.getElementById('story').innerText = txt);
    };

  </script>
</body>

</html>
